<body>
  <h1 class='title'>Listing Articles</h1>
  <h3 class="new">
  <%= link_to 'New article', new_article_path %>
  </h3>
  <table class='article-view'>
    <tr class='article-view-tt'>
      <div>
        <th class="t1">Title</th>
      </div>
      <div>
        <th class="t2">Text</th>
      </div>
    </tr>
    
    <% @articles.each do |article| %>
      <tr class='article-view-article'>
        <td class="t2"><%= article.title %></td>
        <td class="t2"><%= article.text %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>
</body>
